*{
    box-sizing: border-box;
}

.tipografia {
    font-family: 'Permanent Marker', cursive;
    font-size: 74px;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 47px;
}

.caja1{
    
    height: 30vh;
    background-color: #F23D4C;
}   
.caja2 {
    border-style: solid;
    border-color:black;
    height: 5vh;
    background-color: gray;
    text-align: center;
}
.caja3 {
    border-style: solid;
    border-color:black;
    height: 35vh;
    background-color: #768BA6;
    padding-left: 0%;
}
.caja4 {
    border-style: solid;
    border-color:black;
    height: 30vh;
    background-color: #064073;
    padding-left: 0%;
    padding: 0,5px;
}

.caja4-1 {
    border-style: solid;
    border-color:black;
    height: 25vh;
    background-color: gray;
    padding-left: 0%;
}

.caja5 {
    height: 80vh;
    background-color: #406d95;
    display: flex;
    justify-content: center;
    padding: 230px;
}

.caja6 {
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 230px;
    border: 3px black solid;
    padding: 150px;;
}
.caja7 {
    border-style: solid;
    border-color: black;
    height: 45vh;
    background-color: rgb(213, 81, 58);
    padding: 45px;
    justify-content: center;
}

.caja8 {
    border-style: solid;
    border-color:black;
    height: 45vh;
    background-color: rgb(251, 226, 77);
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caja9 {
    border-style: solid;
    border-color:black;
    height: 45vh;
    background-color: rgb(29, 29, 27);
}

.caja10 {
    height: 80vh;
    background-color: rgb(251, 226, 77);
    padding: 3%;
    text-align: center;
}

.equipo {
    padding: 20px;
}

.margen {
    margin: 150px;
}

.margen2 {
    margin: 40px;
}

.borde {
    border: 7px black solid;
}

.borde2 {
    border: 7px white solid;
}
