*{
    box-sizing: border-box;
}

.caja1{
    
    height: 30vh;
    background-color: #F23D4C;
}   
.caja2 {
    border-style: solid;
    border-color:black;
    height: 5vh;
    background-color: gray;
    text-align: center;
}
.caja3 {
    border-style: solid;
    border-color:black;
    height: 30vh;
    background-color: #768BA6;
}
.caja4 {
    border-style: solid;
    border-color:black;
    height: 25vh;
    background-color: #064073;
}

.caja5 {
    height: 80vh;
    background-color: #406d95;
    display: flex;
    justify-content: center;
    padding: 230px;
}

.caja6 {
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 230px;
    border: 5px black solid;
    padding: 150px;;
}
.caja7 {
    height: 45vh;
    background-color: rgb(213, 81, 58);
    padding: 45px;
    justify-content: center;
}

.caja8 {
    border-style: solid;
    border-color:black;
    height: 45vh;
    background-color: rgb(251, 226, 77);
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caja9 {
    border-style: solid;
    border-color:black;
    height: 45vh;
    background-color: rgb(29, 29, 27);
}